table {
	border-radius: 12px;
	color: white;
	font-size: 1.5rem;
	box-shadow: 0px 7px 26px 11px rgba(0, 0, 0, 0.1);
	border-collapse: separate;
	border-spacing: 0 0.2em;
	width: auto;
}
tr,
td,
th {
	padding: 2rem;
	margin: auto;
	text-align: center;
	color: black;
}

td {
	margin-bottom: 5rem;
}

th {
	background-color: #5686c1;
	color: white;
	font-weight: normal;
}
table tr:nth-child(even) {
	background-color: #eff6ff;
}
table tr:hover {
	background-color: #fcfcfc;
	box-shadow: 0px 7px 26px 11px rgba(0, 0, 0, 0.1);
	border-bottom: 4px solid #225da4;
}

.pagination {
	display: flex;
	gap: 1rem;
}
.page-of {
	margin-top: 2rem;
	font-size: 20px;
}
