.createuser{
    justify-content: center;
    align-items: center;
  
}
.createuser-form{
  background-color: #fff;
  border: 1px solid black;
  position: relative;
  left: 44%;
  width: 294px;
  padding: 1rem;

}