
.appointment-btn{
	height: 10vh;
	display: flex;
	align-items: center;
	justify-content: center;

}
.logos{
   height: 30vh;
}
.footer{
	padding: 3rem 10rem;
	text-align: left;
	line-height: 2rem;
	background-color: aliceblue;
}
.footer h3{
	font-weight: lighter;
}

.banner-home{
	display: flex;
	position: absolute;
	top: 253px
}