.snackbar {
    position: fixed;
    bottom: 20px;
    left: 42%;
    background-color: #333;
    color: #fff;
    padding: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 400px;
    width: 100%;
}
.snackbar button {
    background-color: #fff;
    color: #333;
    border: none;
    padding: 8px 12px;
    border-radius: 3px;
    cursor: pointer;
    font-weight: bold;
  }

  @keyframes fadeInOut {
    0%, 100% {
      opacity: 0;
    }
    10%, 90% {
      opacity: 1;
    }
  }
  
  .snackbar {
    animation: fadeInOut 0.5s ease-out;
  }