.outer{

  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 4rem;
    
  

}
.inner{
  width:80%  
  
}
.appointmentheader{
    display: flex;
    gap: 35rem
}

