.appointment-content{
    background-color: aliceblue;
    height: 100vh;
    width: 100%;
    
}
.content-heading{
    height: 10vh;
    align-items: center;
    justify-content: center;
    left: 43%;
    position: absolute;
}
.appointment-form{
    display: flex;
    width: 300px;
    height: auto;
    top: 80%;
    left: 38%;
    position: absolute;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 7px 26px 11px rgba(0,0,0,0.1);
    padding: 5rem;
    
}
.availableTime{
    border: 1px solid grey;
    color: #663399;
    border-radius: 5px;
    padding: 1rem;
}
