.calendar-container {
    display: flex;
  }
  
  .timeScale {
    width:10%; /* Takes as much space as possible */
    background-color: lightblue;
    padding: 10px;
  }
  
  .events {
   /* Takes as much space as possible */
   flex: 1;
    background-color: white;
    padding: 10px;
   
  }
  
  .row {
    width: 100%;
    height: 3rem;
    border: 1px solid black;
    /* Add margin for better spacing */
  }
.timeIndicator{
    width: 100%;
    height: 5px;
    background-color: green;
}
.row.current-time {
    background-color: lightyellow; /* Add your desired styling for the current time row */
  }